<html>
    <title>table view</title>
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="./styles.css">
    </head>
    <body>
        <div class="wrapper detail-wrapper">
            <header>
                <div id="member-detail" class="member-detail">
                    
                  </div>

                  <a class="button" href="#">Update Covid Vaccine Details</a>
            </header>
            <div class="table-wrapper">
                <table >
                    <thead>
                      <tr>
                        <th>Claim ID</th>
                        <th>Claim status</th>
                        <th>Claim Type</th>
                        <th>Insurer Name</th>
                        <th>Member ID</th>
                        <th>Member Name</th>
                        <th>Patient ID</th>
                      </tr>
                    </thead>
                    <tbody id="claim-table">
                    </tbody>
                  </table>
            </div>
        </div>
    </body>
    <script src="./api.js"></script>
</html>